body,
html,
* {
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}

.card{
    width: 30%;
    height: 35rem;
    border: 8px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;    
    align-items: center;    
    justify-content: space-around;  
    margin: 2rem 0;
    background-color: white;
 }

.Cardimage{
    width: 100%;
    height: 80%;
    object-fit: cover;
 }
 
 
 .CardHeader{
    font-size:  2.2rem;
    margin-top: 1.2rem;
 }

.Cardtext{


 }

.container{
    display: flex;
    width: 90vw;
    margin: 2rem auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.Title{
    text-align: center;
    font-size: 3rem;
    background-color: blue;
}

body{
    background-image: url(https://th.bing.com/th/id/OIP.bzm-P0dBvz_duYaXGMA23QHaH0?w=173&h=182&c=7&r=0&o=5&pid=1.7);
}

.card{
    transition: all 0.3s;
}


.card:hover{
    transform: scale(1.1)
}